.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.info i {
  font-size: 4rem;
}
.info span {
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins";
  margin-left: 0.5rem;
}
.info img {
  max-width: 48px;
  max-height: 48px;
}
